span {{data}}
span {{getter}}
span {{not_a_property}}
span(attribute="not angular value", [attribute.local]="model.hello", *ngIf="prop.hello === property", (event.passive)="functionCall()") {{not_a_property}}
